@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  background: #FFD3BB;
  box-shadow: inset 0px 0px 500px rgba(0, 0, 0, 0.4);
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}
body a {
  text-decoration: none;
}

.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1250px;
  margin: 0 auto;
  min-height: 100vh;
  letter-spacing: 2px;
}
.intro__budka {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.intro__budka img {
  position: absolute;
}
.intro__budka h1 {
  position: absolute;
  top: -130px;
  font-family: "Nanum Pen Script", cursive;
  font-size: 72px;
  color: #EC7118;
  font-weight: 200;
  text-transform: uppercase;
}
.intro .house {
  z-index: 5;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.intro .corgiintro {
  position: absolute;
  mix-blend-mode: multiply;
  width: 120px;
  z-index: 3;
  animation: dogflex 2s infinite alternate;
}
@keyframes dogflex {
  0% {
    top: 100px;
  }
  100% {
    top: 85px;
  }
}
@media (max-width: 870px) {
  .intro__budka img {
    width: 300px;
  }
  .intro__budka h1 {
    font-size: 40px;
    top: -80px;
  }
  .intro .corgiintro {
    width: 80px;
    margin: -40px 0 0 0;
  }
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1250px;
  margin: 0 auto;
  min-height: 100vh;
  letter-spacing: 2px;
  text-transform: none;
}
.home__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home__header img {
  mix-blend-mode: multiply;
  width: 350px;
}
.home__header h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #EC7118;
}
.home__info {
  margin: 0 auto;
  display: flex;
}
.home__info p {
  margin: 15px 40px;
  display: flex;
  justify-content: space-around;
  font-weight: normal;
  font-size: 20px;
  color: #22201e;
}
@media (max-width: 1000px) {
  .home {
    box-shadow: inset 0px 0px 500px #FFD3BB;
  }
  .home__info {
    flex-direction: column;
  }
  .home__info p {
    font-size: 13px;
  }
  .home__header img {
    width: 200px;
  }
  .home__header h2 {
    font-size: 20px;
  }
}

.shop {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1250px;
  margin: 0 auto;
  min-height: 100vh;
  letter-spacing: 2px;
}
.shop__header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
}
.shop__header img {
  mix-blend-mode: multiply;
  width: 80px;
  padding-left: 15px;
}
.shop__breed {
  padding: 50px 30px 20px 0;
}
.shop__breed img {
  position: absolute;
  top: -30px;
  width: 60px;
  mix-blend-mode: multiply;
  animation: doggystyle 2s linear infinite alternate;
}
.shop__breed img:hover {
  transform: rotate(180deg);
}
.shop__breed p {
  position: relative;
  margin: 0;
  color: #0a0a0a;
  font-weight: 700;
  font-size: 33px;
}
.shop__breed a {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 41px;
  color: rgba(236, 112, 24, 0.87);
}
.shop__breed a:hover {
  color: #EC7118;
  font-weight: 700;
}
.shop__breed span {
  color: #EC7118;
  font-size: 30px;
  font-weight: 700;
}
@keyframes doggystyle {
  0% {
    left: 265px;
  }
  100% {
    left: 570px;
  }
}
@media (max-width: 1000px) {
  .shop__breed {
    margin: 20px 0 0 0;
    padding: 0;
  }
  .shop__breed p {
    font-size: 20px;
  }
  .shop__breed a {
    font-size: 20px;
  }
  .shop__breed span {
    font-size: 20px;
  }
  .shop__breed img {
    display: none;
  }
}
@media (max-width: 445px) {
  .shop__breed p {
    font-size: 14px;
  }
  .shop__breed a {
    font-size: 14px;
  }
  .shop__breed span {
    font-size: 14px;
  }
}
.shop__info {
  margin: 30px 0 20px 0;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 1080px) {
  .shop__info {
    flex-direction: column;
  }
}
.shop__corgi {
  background: #ec70181c;
  width: 287px;
  margin: 10px auto;
  padding: 0 30px;
  text-align: center;
}
.shop__corgi h3 {
  font-size: 24px;
  line-height: 28px;
  color: #333333;
}
.shop__corgi img {
  width: 287px;
}
.shop__corgi img:hover {
  transform: scale(1.6);
  transition: 0.5s ease;
}
.shop__corgi p {
  font-size: 36px;
  margin: 10px 0;
  color: #EC7118;
}
.shop__corgi a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 287px;
  height: 70px;
  color: #333;
  font-weight: 700;
  background: #e2b299;
  font-size: 24px;
  line-height: 28px;
  transition: 0.4s ease;
}
.shop__corgi a:hover {
  background: #dfa485;
}
@media (max-width: 1080px) {
  .shop__corgi {
    padding: 0 10px;
  }
  .shop__corgi img:hover {
    transform: scale(1);
  }
}
.shop__buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .shop__buttons {
    flex-direction: column-reverse;
  }
}
@media (max-width: 1000px) {
  .shop {
    box-shadow: inset 0px 0px 500px #FFD3BB;
  }
}

.button {
  display: flex;
  justify-content: flex-end;
  margin: 50px;
}
.button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 373px;
  height: 59px;
  text-transform: uppercase;
  background: #EF6E68;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  transition: 0.3s ease;
}
.button a img {
  margin-left: 15px;
}
.button a:hover {
  background: #ec4940;
}
@media (max-width: 1000px) {
  .button {
    justify-content: center;
    margin: 15px;
  }
  .button a {
    width: 95%;
    font-size: 14px;
  }
}
.button .btn img {
  margin: 0 15px 0 -15px;
}

.buying {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1250px;
  margin: 0 auto;
  min-height: 100vh;
  letter-spacing: 2px;
}
.buying__content {
  display: flex;
  justify-content: space-around;
}
.buying__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.buying__buy {
  position: relative;
  right: -100px;
}
.buying__buy a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -12px;
  left: 18px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #EF6E67;
  background: #FFD3BB;
  font-size: 24px;
  line-height: 28px;
  color: #EF6E67;
  z-index: 22;
}
.buying__buy img {
  width: 100px;
}
.buying__forms input[type=text] {
  background: #FFD3BB;
  border: 2px solid #FA9246;
  width: 343px;
  height: 59px;
  margin: 10px 0;
  padding: 0 15px;
  color: rgba(234, 72, 72, 0.73);
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.buying__image {
  mix-blend-mode: multiply;
}
.buying .pay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 373px;
  height: 59px;
  background: rgba(234, 72, 72, 0.73);
  border: 2px solid #FA9246;
  font-size: 30px;
  line-height: 55px;
  color: #FFD3BB;
}
.buying .pay:hover {
  transition: 0.5s ease;
  color: #000;
  background: rgba(253, 50, 50, 0.73);
}
.buying__button {
  justify-content: flex-start;
}
@media (max-width: 1200px) {
  .buying {
    box-shadow: inset 0px 0px 500px #FFD3BB;
  }
}
@media (max-width: 1000px) {
  .buying__button {
    justify-content: center;
    opacity: 0.6;
  }
  .buying__button a {
    height: 30px;
    width: 200px;
    font-size: 12px;
  }
  .buying__button a img {
    width: 30px;
  }
  .buying__info {
    margin: 50px 0;
  }
  .buying__image {
    top: 180px;
    opacity: 0.1;
    position: absolute;
    z-index: 0;
  }
  .buying__image img {
    width: 300px;
  }
  .buying__buy img {
    width: 50px;
  }
  .buying__buy a {
    top: -10px;
    left: 8px;
    width: 23px;
    height: 23px;
    font-size: 14px;
    background: #eec5af;
  }
  .buying__forms {
    z-index: 23;
  }
  .buying__forms input[type=text] {
    width: 240px;
    height: 40px;
    background: #ffd3bb2a;
    font-size: 14px;
  }
  .buying .pay {
    width: 270px;
    height: 40px;
    font-size: 14px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1000px) {
  .header {
    justify-content: center;
    flex-direction: column;
  }
}

.products {
  background: #ec70181c;
  width: 250px;
}
.products img {
  mix-blend-mode: multiply;
  width: 200px;
}
.products img:hover {
  transform: none;
}
.products a {
  width: 250px;
}

.nav {
  display: flex;
  padding: 0 0 0 20px;
}
.nav a {
  display: flex;
  justify-content: start;
  align-items: center;
}
.nav a img {
  width: 60px;
}
.nav a p {
  color: #EC7118;
  padding: 0px 0 0 10px;
  font-family: comic Neue;
  font-weight: normal;
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.nav a:hover p {
  color: #ec3118;
}
@media (max-width: 1000px) {
  .nav {
    justify-content: center;
    margin: 30px 0 0 0;
    padding: 0;
  }
  .nav a img {
    width: 40px;
  }
  .nav a p {
    font-size: 15px;
  }
}