doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title BUDKA
    body 
        .buying
            .header 
                .buying__nav.nav 
                    a(href="home.html") 
                        img(src="/img/house.png", alt="")
                        p corgishop 
            .buying__content  
                .buying__image 
                    img(src="/img/Group.png", alt="")
                .buying__info 
                    .buying__buy 
                        a(href="") 3 
                        img(src="/img/market.png", alt="") 
                    .buying__forms 
                        form(action='')
                        input(autocomplete='off', type='text', placeholder='имя')
                        form(action='')
                        input(autocomplete='off', type='text', placeholder='фамилия')
                        form(action='')
                        input(autocomplete='off', type='text', placeholder='номер телефона')
                        form(action='')
                        input(autocomplete='off', type='text', placeholder='почта')
                    a(href="").pay   оплатить
            .buying__button.button
                a(href="products.html").btn
                    img(src="/img/Arrow2.png", alt="")
                    p назад