doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title BUDKA
    body 
        .home 
            .home__nav.nav 
                a(href="") 
                    img(src="/img/house.png", alt="")
                    p corgishop 
            .home__content 
                .home__header
                    img(src="/img/homecorgi.jpg", alt="")
                    h2 ПОЧЕМУ КОРГИ?
                .home__info 
                        p Вельш корги пемброк и вельш корги кардиган — собаки небольшие. Всего 30 см высотой в холке. Они не займут много места даже в скромной квартире. Породный признак вельш корги — дружелюбие. Характер классического корги — уравновешенный, доброжелательный, не агрессивный и не трусливый. Вельш корги — собаки пастушьи. Они издавна находятся рядом с человеком в качестве помощника, друга. Эти качества они сохранили и по сей день. Вельш корги не требуют большой возни с шерстью. Их не нужно стричь.
                        p Вельш корги хоть и небольшие, но активные собаки. Корги — очень разумные и быстро обучаемые собаки. Корги достаточно 2-4 раза повторить команду и он поймет, что вы от него хотите. Корги — идеальная порода для семьи с детьми. Дети не боятся «коржиков». Они их обожают. Средняя продолжительность жизни вельш корги — 12-15 лет. Единственное, что для коржиков не сочетается с понятием «умеренность» — это еда. Поэтому будьте аккуратны: вельш корги легко раскормить.
            .home__button.button
                a(href="shop.html")  перейти к магазину
                    img(src="/img/Arrow3.png", alt="")



        script(src="js/script.js")