doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title BUDKA
    body 
        .intro 
            .intro__house 
                a.intro__budka(href="home.html") 
                    img.house(src="img/house.png", alt="")
                    img.corgiintro(src="img/corgi1.jpg", alt="")
                    h1 welcome 



        script(src="js/script.js")