doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title BUDKA
    body 
        .shop 
            .header 
                .shop__nav.nav 
                    a(href="home.html") 
                        img(src="/img/house.png", alt="")
                        p corgishop 
            .shop__content  
                .shop__header
                    h2 товары
                    img(src="/img/corgi3.png", alt="")
                .shop__info 
                    .shop__corgi.products 
                        h3 корм
                        img(src="/img/eat.png", alt="")
                        p 10$
                        a(href="") добавить
                    .shop__corgi.products  
                        h3 ошейник
                        img(src="/img/clothes.png", alt="")
                        p 20$
                        a(href="") добавить
                    .shop__corgi.products 
                        h3 игрушки
                        img(src="/img/toy.png", alt="")
                        p 30$
                        a(href="") добавить
            .shop__buttons 
                .shop__button.button
                    a(href="shop.html").btn
                        img(src="/img/Arrow2.png", alt="")
                        p назад
                .shop__button.button
                    a(href="buying.html")  оформить заказ
                        img(src="/img/Arrow3.png", alt="")