doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title BUDKA
    body 
        .shop 
            .header 
                .shop__nav.nav 
                    a(href="home.html") 
                        img(src="/img/house.png", alt="")
                        p corgishop 
                .shop__breed
                    p вельш корги: 
                        img(src="/img/corgi2.png", alt="") 
                        a(href="shop.html") пемброк 
                        span /
                        a(href="")  кардиган
            .shop__content  
                .shop__info 
                    .shop__corgi 
                        h3 белый с рыжим
                        img(src="/img/white.png", alt="")
                        p 1000$
                        a(href="") добавить
                    .shop__corgi 
                        h3 трёхцветный
                        img(src="/img/threecolors.png", alt="")
                        p 1200$
                        a(href="") добавить
                    .shop__corgi 
                        h3 соболиный окрас
                        img(src="/img/sobolinui.png", alt="")
                        p бесценно
                        a(href="") добавить
            .shop__button.button
                a(href="products.html")  выбрать аксессуары
                    img(src="/img/Arrow3.png", alt="")